In [1]:
import pandas as pd
import numpy as np
import re
import nltk
pd.set_option('display.max_columns',None)

C:\Users\Admin\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv('IMDB_OMDB_Kaggle_TestSet_OMDB_Detailed.csv')

In [3]:
df.head()

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Ratings.Source,Ratings.Value,Metascore,imdbRating,imdbVotes,imdbID,Type,tomatoMeter,tomatoImage,tomatoRating,tomatoReviews,tomatoFresh,tomatoRotten,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,tomatoURL,DVD,BoxOffice,Production,Website,Response
0,1,Avatar,2009,PG-13,18 Dec 2009,162 min,"Action, Adventure, Fantasy",James Cameron,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",A paraplegic marine dispatched to the moon Pan...,"English, Spanish","UK, USA",Won 3 Oscars. Another 86 wins & 128 nominations.,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,7.8/10,83,7.8,"939,525",tt0499549,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/avatar/,22 Apr 2010,"$749,700,000",20th Century Fox,http://www.avatarmovie.com/,True
1,2,Pirates of the Caribbean: At World's End,2007,PG-13,25 May 2007,169 min,"Action, Adventure, Fantasy",Gore Verbinski,"Ted Elliott, Terry Rossio, Ted Elliott (charac...","Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...","Captain Barbossa, Will Turner and Elizabeth Sw...",English,USA,Nominated for 2 Oscars. Another 20 wins & 44 n...,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,7.1/10,50,7.1,"506,076",tt0449088,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/pirates_of_the...,04 Dec 2007,"$309,404,152",Buena Vista,http://disney.go.com/disneypictures/pirates/at...,True
2,3,Spectre,2015,PG-13,06 Nov 2015,148 min,"Action, Adventure, Thriller",Sam Mendes,"John Logan (screenplay), Neal Purvis (screenpl...","Daniel Craig, Christoph Waltz, Léa Seydoux, Ra...",A cryptic message from Bond's past sends him o...,"English, Spanish, Italian, German, French","UK, USA",Won 1 Oscar. Another 7 wins & 30 nominations.,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,6.8/10,60,6.8,"311,366",tt2379713,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/spectre_2015/,09 Feb 2016,"$208,777,731",Sony Pictures,http://www.007.com/,True
3,4,The Dark Knight Rises,2012,PG-13,20 Jul 2012,164 min,"Action, Thriller",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Gary Oldman, Tom Hardy, Joseph...",Eight years after the Joker's reign of anarchy...,"English, Arabic","UK, USA",Nominated for 1 BAFTA Film Award. Another 38 w...,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,8.5/10,78,8.5,"1,228,378",tt1345836,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_dark_knigh...,03 Dec 2012,"$448,130,642",Warner Bros. Pictures,http://www.thedarkknightrises.com/,True
4,5,The Lone Ranger,2013,PG-13,03 Jul 2013,150 min,"Action, Adventure, Western",Gore Verbinski,"Justin Haythe (screenplay), Ted Elliott (scree...","Johnny Depp, Armie Hammer, William Fichtner, T...",Native American warrior Tonto recounts the unt...,"English, North American Indian",USA,Nominated for 2 Oscars. Another 4 wins & 17 no...,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,6.5/10,37,6.5,"191,532",tt1210819,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_lone_ranger/,17 Dec 2013,"$89,289,910",Walt Disney Pictures,http://disney.go.com/the-lone-ranger/,True

In [4]:
df['Plot'][0]

'A paraplegic marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.'

In [5]:
df['Plot'].dtype

dtype('O')

# data preprocessing

In [6]:
# convert lowercase and remove numbers,punctuations spaces, etc

In [7]:
df['clean_plot'] = df['Plot'].str.lower()

In [8]:
df['clean_plot'][0:11]

0     a paraplegic marine dispatched to the moon pan...
1     captain barbossa, will turner and elizabeth sw...
2     a cryptic message from bond's past sends him o...
3     eight years after the joker's reign of anarchy...
4     native american warrior tonto recounts the unt...
5     transported to barsoom, a civil war vet discov...
6     the magically long-haired rapunzel has spent h...
7     a strange black entity from another world bond...
8     when tony stark and bruce banner try to jump-s...
9     political interference in the avengers' activi...
10    fearing that the actions of superman are left ...
Name: clean_plot, dtype: object

In [9]:
df['clean_plot'] = df['clean_plot'].apply(lambda x:re.sub('[^a-zA-Z]',' ',x))
df['clean_plot'][0:11]

0     a paraplegic marine dispatched to the moon pan...
1     captain barbossa  will turner and elizabeth sw...
2     a cryptic message from bond s past sends him o...
3     eight years after the joker s reign of anarchy...
4     native american warrior tonto recounts the unt...
5     transported to barsoom  a civil war vet discov...
6     the magically long haired rapunzel has spent h...
7     a strange black entity from another world bond...
8     when tony stark and bruce banner try to jump s...
9     political interference in the avengers  activi...
10    fearing that the actions of superman are left ...
Name: clean_plot, dtype: object

In [10]:
df['clean_plot'] = df['clean_plot'].apply(lambda x:re.sub('\s+',' ',x))
df['clean_plot'][0:11]

0     a paraplegic marine dispatched to the moon pan...
1     captain barbossa will turner and elizabeth swa...
2     a cryptic message from bond s past sends him o...
3     eight years after the joker s reign of anarchy...
4     native american warrior tonto recounts the unt...
5     transported to barsoom a civil war vet discove...
6     the magically long haired rapunzel has spent h...
7     a strange black entity from another world bond...
8     when tony stark and bruce banner try to jump s...
9     political interference in the avengers activit...
10    fearing that the actions of superman are left ...
Name: clean_plot, dtype: object

In [11]:
# tokenize the sentences
df['clean_plot'] = df['clean_plot'].apply(lambda x:nltk.word_tokenize(x))
df['clean_plot'][0:11]

0     [a, paraplegic, marine, dispatched, to, the, m...
1     [captain, barbossa, will, turner, and, elizabe...
2     [a, cryptic, message, from, bond, s, past, sen...
3     [eight, years, after, the, joker, s, reign, of...
4     [native, american, warrior, tonto, recounts, t...
5     [transported, to, barsoom, a, civil, war, vet,...
6     [the, magically, long, haired, rapunzel, has, ...
7     [a, strange, black, entity, from, another, wor...
8     [when, tony, stark, and, bruce, banner, try, t...
9     [political, interference, in, the, avengers, a...
10    [fearing, that, the, actions, of, superman, ar...
Name: clean_plot, dtype: object

In [13]:
# remove stop words
stop_words = nltk.corpus.stopwords.words('english')
plot = []
for sentence in df['clean_plot']:
    temp=[]
    for word in sentence:
        if word not in stop_words or len(word) >=3:
            temp.append(word)
    plot.append(temp)
plot

[['paraplegic',
  'marine',
  'dispatched',
  'the',
  'moon',
  'pandora',
  'unique',
  'mission',
  'becomes',
  'torn',
  'between',
  'following',
  'his',
  'orders',
  'and',
  'protecting',
  'the',
  'world',
  'feels',
  'his',
  'home'],
 ['captain',
  'barbossa',
  'will',
  'turner',
  'and',
  'elizabeth',
  'swann',
  'must',
  'sail',
  'off',
  'the',
  'edge',
  'the',
  'map',
  'navigate',
  'treachery',
  'and',
  'betrayal',
  'find',
  'jack',
  'sparrow',
  'and',
  'make',
  'their',
  'final',
  'alliances',
  'for',
  'one',
  'last',
  'decisive',
  'battle'],
 ['cryptic',
  'message',
  'from',
  'bond',
  'past',
  'sends',
  'him',
  'trail',
  'uncover',
  'sinister',
  'organization',
  'while',
  'battles',
  'political',
  'forces',
  'keep',
  'the',
  'secret',
  'service',
  'alive',
  'bond',
  'peels',
  'back',
  'the',
  'layers',
  'deceit',
  'reveal',
  'the',
  'terrible',
  'truth',
  'behind',
  'spectre'],
 ['eight',
  'years',
  'after',
  'the',
  'joker',
  'reign',
  'anarchy',
  'the',
  'dark',
  'knight',
  'with',
  'the',
  'help',
  'the',
  'enigmatic',
  'selina',
  'forced',
  'from',
  'his',
  'imposed',
  'exile',
  'save',
  'gotham',
  'city',
  'now',
  'the',
  'edge',
  'total',
  'annihilation',
  'from',
  'the',
  'brutal',
  'guerrilla',
  'terrorist',
  'bane'],
 ['native',
  'american',
  'warrior',
  'tonto',
  'recounts',
  'the',
  'untold',
  'tales',
  'that',
  'transformed',
  'john',
  'reid',
  'man',
  'the',
  'law',
  'into',
  'legend',
  'justice'],
 ['transported',
  'barsoom',
  'civil',
  'war',
  'vet',
  'discovers',
  'barren',
  'planet',
  'seemingly',
  'inhabited',
  'foot',
  'tall',
  'barbarians',
  'finding',
  'himself',
  'prisoner',
  'these',
  'creatures',
  'escapes',
  'only',
  'encounter',
  'woola',
  'and',
  'princess',
  'desperate',
  'need',
  'savior'],
 ['the',
  'magically',
  'long',
  'haired',
  'rapunzel',
  'has',
  'spent',
  'her',
  'entire',
  'life',
  'tower',
  'but',
  'now',
  'that',
  'runaway',
  'thief',
  'has',
  'stumbled',
  'upon',
  'her',
  'she',
  'about',
  'discover',
  'the',
  'world',
  'for',
  'the',
  'first',
  'time',
  'and',
  'who',
  'she',
  'really'],
 ['strange',
  'black',
  'entity',
  'from',
  'another',
  'world',
  'bonds',
  'with',
  'peter',
  'parker',
  'and',
  'causes',
  'inner',
  'turmoil',
  'contends',
  'with',
  'new',
  'villains',
  'temptations',
  'and',
  'revenge'],
 ['when',
  'tony',
  'stark',
  'and',
  'bruce',
  'banner',
  'try',
  'jump',
  'start',
  'dormant',
  'peacekeeping',
  'program',
  'called',
  'ultron',
  'things',
  'go',
  'horribly',
  'wrong',
  'and',
  'earth',
  'mightiest',
  'heroes',
  'stop',
  'the',
  'villainous',
  'ultron',
  'from',
  'enacting',
  'his',
  'terrible',
  'plan'],
 ['political',
  'interference',
  'the',
  'avengers',
  'activities',
  'causes',
  'rift',
  'between',
  'former',
  'allies',
  'captain',
  'america',
  'and',
  'iron',
  'man'],
 ['fearing',
  'that',
  'the',
  'actions',
  'superman',
  'are',
  'left',
  'unchecked',
  'batman',
  'takes',
  'the',
  'man',
  'steel',
  'while',
  'the',
  'world',
  'wrestles',
  'with',
  'what',
  'kind',
  'hero',
  'really',
  'needs'],
 ['reluctant',
  'hobbit',
  'bilbo',
  'baggins',
  'sets',
  'out',
  'the',
  'lonely',
  'mountain',
  'with',
  'spirited',
  'group',
  'dwarves',
  'reclaim',
  'their',
  'mountain',
  'home',
  'and',
  'the',
  'gold',
  'within',
  'from',
  'the',
  'dragon',
  'smaug'],
 ['harry',
  'potter',
  'begins',
  'his',
  'sixth',
  'year',
  'hogwarts',
  'discovers',
  'old',
  'book',
  'marked',
  'the',
  'property',
  'the',
  'half',
  'blood',
  'prince',
  'and',
  'begins',
  'learn',
  'more',
  'about',
  'lord',
  'voldemort',
  'dark',
  'past'],
 ['the',
  'dwarves',
  'along',
  'with',
  'bilbo',
  'baggins',
  'and',
  'gandalf',
  'the',
  'grey',
  'continue',
  'their',
  'quest',
  'reclaim',
  'erebor',
  'their',
  'homeland',
  'from',
  'smaug',
  'bilbo',
  'baggins',
  'possession',
  'mysterious',
  'and',
  'magical',
  'ring'],
 ['bilbo',
  'and',
  'company',
  'are',
  'forced',
  'engage',
  'war',
  'against',
  'array',
  'combatants',
  'and',
  'keep',
  'the',
  'lonely',
  'mountain',
  'from',
  'falling',
  'into',
  'the',
  'hands',
  'rising',
  'darkness'],
 ['jack',
  'sparrow',
  'and',
  'barbossa',
  'embark',
  'quest',
  'find',
  'the',
  'elusive',
  'fountain',
  'youth',
  'only',
  'discover',
  'that',
  'blackbeard',
  'and',
  'his',
  'daughter',
  'are',
  'after',
  'too'],
 ['superman',
  'reappears',
  'after',
  'long',
  'absence',
  'but',
  'challenged',
  'old',
  'foe',
  'who',
  'uses',
  'kryptonian',
  'technology',
  'for',
  'world',
  'domination'],
 ['james',
  'bond',
  'descends',
  'into',
  'mystery',
  'tries',
  'stop',
  'mysterious',
  'organization',
  'from',
  'eliminating',
  'country',
  'most',
  'valuable',
  'resource',
  'all',
  'the',
  'while',
  'still',
  'tries',
  'seek',
  'revenge',
  'over',
  'the',
  'death',
  'his',
  'love'],
 ['earth',
  'mightiest',
  'heroes',
  'must',
  'come',
  'together',
  'and',
  'learn',
  'fight',
  'team',
  'they',
  'are',
  'stop',
  'the',
  'mischievous',
  'loki',
  'and',
  'his',
  'alien',
  'army',
  'from',
  'enslaving',
  'humanity'],
 ['jack',
  'sparrow',
  'races',
  'recover',
  'the',
  'heart',
  'davy',
  'jones',
  'avoid',
  'enslaving',
  'his',
  'soul',
  'jones',
  'service',
  'other',
  'friends',
  'and',
  'foes',
  'seek',
  'the',
  'heart',
  'for',
  'their',
  'own',
  'agenda',
  'well'],
 ['clark',
  'kent',
  'one',
  'the',
  'last',
  'extinguished',
  'race',
  'disguised',
  'unremarkable',
  'human',
  'forced',
  'reveal',
  'his',
  'identity',
  'when',
  'earth',
  'invaded',
  'army',
  'survivors',
  'who',
  'threaten',
  'bring',
  'the',
  'planet',
  'the',
  'brink',
  'destruction'],
 ['the',
  'pevensie',
  'siblings',
  'return',
  'narnia',
  'where',
  'they',
  'are',
  'enlisted',
  'once',
  'again',
  'help',
  'ward',
  'off',
  'evil',
  'king',
  'and',
  'restore',
  'the',
  'rightful',
  'heir',
  'the',
  'land',
  'throne',
  'prince',
  'caspian'],
 ['after',
  'peter',
  'parker',
  'bitten',
  'genetically',
  'altered',
  'spider',
  'gains',
  'newfound',
  'spider',
  'like',
  'powers',
  'and',
  'ventures',
  'out',
  'solve',
  'the',
  'mystery',
  'his',
  'parent',
  'mysterious',
  'death'],
 ['new',
  'theme',
  'park',
  'built',
  'the',
  'original',
  'site',
  'jurassic',
  'park',
  'creates',
  'genetically',
  'modified',
  'hybrid',
  'dinosaur',
  'which',
  'escapes',
  'containment',
  'and',
  'goes',
  'killing',
  'spree']]

In [17]:
df['clean_plot'] = plot
df['clean_plot'][0:11]

0     [paraplegic, marine, dispatched, the, moon, pa...
1     [captain, barbossa, will, turner, and, elizabe...
2     [cryptic, message, from, bond, past, sends, hi...
3     [eight, years, after, the, joker, reign, anarc...
4     [native, american, warrior, tonto, recounts, t...
5     [transported, barsoom, civil, war, vet, discov...
6     [the, magically, long, haired, rapunzel, has, ...
7     [strange, black, entity, from, another, world,...
8     [when, tony, stark, and, bruce, banner, try, j...
9     [political, interference, the, avengers, activ...
10    [fearing, that, the, actions, superman, are, l...
Name: clean_plot, dtype: object

In [18]:
df['Genre'][0]

'Action, Adventure, Fantasy'

In [19]:
df['Genre'] = df['Genre'].apply(lambda x:x.split(','))

In [22]:
df['Actors'][0]

'Sam Worthington, Zoe Saldana, Sigourney Weaver, Stephen Lang'

In [26]:
#df['Actors'] = df['Actors'].apply(lambda x:x.split(',')[:4])
df['Director'] = df['Director'].apply(lambda x:x.split(','))

In [27]:
df['Actors'][:4]

0    [Sam Worthington,  Zoe Saldana,  Sigourney Wea...
1    [Johnny Depp,  Geoffrey Rush,  Orlando Bloom, ...
2    [Daniel Craig,  Christoph Waltz,  Léa Seydoux,...
3    [Christian Bale,  Gary Oldman,  Tom Hardy,  Jo...
Name: Actors, dtype: object

In [28]:
df['Director'][0:4]

0        [James Cameron]
1       [Gore Verbinski]
2           [Sam Mendes]
3    [Christopher Nolan]
Name: Director, dtype: object

In [29]:
def clean(sentence):
    temp=[]
    for word in sentence:
        temp.append(word.lower().replace(' ',''))
    return temp

In [30]:
df['Genre'][:2]

0    [Action,  Adventure,  Fantasy]
1    [Action,  Adventure,  Fantasy]
Name: Genre, dtype: object

In [31]:
df['Genre'] =[clean(x) for x in df['Genre']]

In [33]:
df['Genre'][:2]

0    [action, adventure, fantasy]
1    [action, adventure, fantasy]
Name: Genre, dtype: object

In [34]:
df['Actors'] =[clean(x) for x in df['Actors']]
df['Director'] =[clean(x) for x in df['Director']]

In [37]:
df['Actors'][0]

['samworthington', 'zoesaldana', 'sigourneyweaver', 'stephenlang']

In [36]:
df['Director'][:3]

0     [jamescameron]
1    [goreverbinski]
2        [sammendes]
Name: Director, dtype: object

In [38]:
# combining all the column
columns = ['clean_plot','Genre','Actors','Director']
l=[]
for i in range(len(df)):
    words = ''
    for col in columns:
        words += ' '.join(df[col][i])+' '
    l.append(words)
l

['paraplegic marine dispatched the moon pandora unique mission becomes torn between following his orders and protecting the world feels his home action adventure fantasy samworthington zoesaldana sigourneyweaver stephenlang jamescameron ',
 'captain barbossa will turner and elizabeth swann must sail off the edge the map navigate treachery and betrayal find jack sparrow and make their final alliances for one last decisive battle action adventure fantasy johnnydepp geoffreyrush orlandobloom keiraknightley goreverbinski ',
 'cryptic message from bond past sends him trail uncover sinister organization while battles political forces keep the secret service alive bond peels back the layers deceit reveal the terrible truth behind spectre action adventure thriller danielcraig christophwaltz léaseydoux ralphfiennes sammendes ',
 'eight years after the joker reign anarchy the dark knight with the help the enigmatic selina forced from his imposed exile save gotham city now the edge total annihilation from the brutal guerrilla terrorist bane action thriller christianbale garyoldman tomhardy josephgordon-levitt christophernolan ',
 'native american warrior tonto recounts the untold tales that transformed john reid man the law into legend justice action adventure western johnnydepp armiehammer williamfichtner tomwilkinson goreverbinski ',
 'transported barsoom civil war vet discovers barren planet seemingly inhabited foot tall barbarians finding himself prisoner these creatures escapes only encounter woola and princess desperate need savior action adventure sci-fi taylorkitsch lynncollins samanthamorton willemdafoe andrewstanton ',
 'the magically long haired rapunzel has spent her entire life tower but now that runaway thief has stumbled upon her she about discover the world for the first time and who she really animation adventure comedy mandymoore zacharylevi donnamurphy ronperlman nathangreno byronhoward ',
 'strange black entity from another world bonds with peter parker and causes inner turmoil contends with new villains temptations and revenge action adventure tobeymaguire kirstendunst jamesfranco thomashadenchurch samraimi ',
 'when tony stark and bruce banner try jump start dormant peacekeeping program called ultron things go horribly wrong and earth mightiest heroes stop the villainous ultron from enacting his terrible plan action adventure sci-fi robertdowneyjr. chrishemsworth markruffalo chrisevans josswhedon ',
 'political interference the avengers activities causes rift between former allies captain america and iron man action adventure sci-fi chrisevans robertdowneyjr. scarlettjohansson sebastianstan anthonyrusso joerusso ',
 'fearing that the actions superman are left unchecked batman takes the man steel while the world wrestles with what kind hero really needs action adventure sci-fi benaffleck henrycavill amyadams jesseeisenberg zacksnyder ',
 'reluctant hobbit bilbo baggins sets out the lonely mountain with spirited group dwarves reclaim their mountain home and the gold within from the dragon smaug adventure fantasy ianmckellen martinfreeman richardarmitage kenstott peterjackson ',
 'harry potter begins his sixth year hogwarts discovers old book marked the property the half blood prince and begins learn more about lord voldemort dark past adventure family fantasy danielradcliffe michaelgambon davelegeno elaricajohnson davidyates ',
 'the dwarves along with bilbo baggins and gandalf the grey continue their quest reclaim erebor their homeland from smaug bilbo baggins possession mysterious and magical ring adventure fantasy ianmckellen martinfreeman richardarmitage kenstott peterjackson ',
 'bilbo and company are forced engage war against array combatants and keep the lonely mountain from falling into the hands rising darkness adventure fantasy ianmckellen martinfreeman richardarmitage kenstott peterjackson ',
 'jack sparrow and barbossa embark quest find the elusive fountain youth only discover that blackbeard and his daughter are after too action adventure fantasy johnnydepp penélopecruz geoffreyrush ianmcshane robmarshall ',
 'superman reappears after long absence but challenged old foe who uses kryptonian technology for world domination action adventure sci-fi brandonrouth katebosworth kevinspacey jamesmarsden bryansinger ',
 'james bond descends into mystery tries stop mysterious organization from eliminating country most valuable resource all the while still tries seek revenge over the death his love action adventure thriller danielcraig olgakurylenko mathieuamalric judidench marcforster ',
 'earth mightiest heroes must come together and learn fight team they are stop the mischievous loki and his alien army from enslaving humanity action sci-fi robertdowneyjr. chrisevans markruffalo chrishemsworth josswhedon ',
 'jack sparrow races recover the heart davy jones avoid enslaving his soul jones service other friends and foes seek the heart for their own agenda well action adventure fantasy johnnydepp orlandobloom keiraknightley jackdavenport goreverbinski ',
 'clark kent one the last extinguished race disguised unremarkable human forced reveal his identity when earth invaded army survivors who threaten bring the planet the brink destruction action adventure fantasy henrycavill amyadams michaelshannon dianelane zacksnyder ',
 'the pevensie siblings return narnia where they are enlisted once again help ward off evil king and restore the rightful heir the land throne prince caspian action adventure family benbarnes georgiehenley skandarkeynes williammoseley andrewadamson ',
 'after peter parker bitten genetically altered spider gains newfound spider like powers and ventures out solve the mystery his parent mysterious death action adventure andrewgarfield emmastone rhysifans denisleary marcwebb ',
 "new theme park built the original site jurassic park creates genetically modified hybrid dinosaur which escapes containment and goes killing spree action adventure sci-fi chrispratt brycedallashoward irrfankhan vincentd'onofrio colintrevorrow "]

In [40]:
df['clean_input'] = l
df1 = df[['Title','clean_input']]
df1.head()

,Title,clean_input
0,Avatar,paraplegic marine dispatched the moon pandora ...
1,Pirates of the Caribbean: At World's End,captain barbossa will turner and elizabeth swa...
2,Spectre,cryptic message from bond past sends him trail...
3,The Dark Knight Rises,eight years after the joker reign anarchy the ...
4,The Lone Ranger,native american warrior tonto recounts the unt...

In [41]:
# feature extraction

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
tfidf = TfidfVectorizer()
features = tfidf.fit_transform(df1['clean_input'])

In [44]:
# creat cosine similarity matrix
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(features,features)
print(cosine_sim)

[[1.         0.05362776 0.03013261 0.06689265 0.02916406 0.01360664
  0.04388658 0.04368221 0.04626062 0.06682276 0.05762734 0.08495204
  0.05768924 0.04507253 0.05218293 0.07359531 0.03329449 0.04573673
  0.05297899 0.06309684 0.06815601 0.03919541 0.04686846 0.02271877]
 [0.05362776 1.         0.02662606 0.06695191 0.07504194 0.02159321
  0.04925815 0.04233026 0.04201446 0.07151607 0.03239615 0.07695372
  0.04234932 0.10099547 0.07028823 0.24424418 0.03257576 0.02178821
  0.0803168  0.2269185  0.09775233 0.07271017 0.03197534 0.0302289 ]
 [0.03013261 0.02662606 1.         0.09164707 0.03121657 0.00660276
  0.02712336 0.01846908 0.04824638 0.05227415 0.06351489 0.04653005
  0.04703578 0.03367058 0.0693986  0.02019916 0.00836959 0.17668672
  0.02701489 0.05140058 0.06359654 0.03696373 0.01800231 0.01701905]
 [0.06689265 0.06695191 0.09164707 1.         0.04965191 0.00361734
  0.06855764 0.05871427 0.04691811 0.02875776 0.08492946 0.10087384
  0.07022584 0.07518473 0.09355912 0.0586219  0.02545456 0.08877764
  0.05817264 0.05034815 0.0931354  0.08735907 0.05224622 0.02341743]
 [0.02916406 0.07504194 0.03121657 0.04965191 1.         0.00848616
  0.04312694 0.00999276 0.01625112 0.05482424 0.0926675  0.03231916
  0.0204154  0.02171648 0.05735862 0.07537967 0.01075698 0.05196415
  0.01561341 0.07447802 0.03530001 0.03466631 0.01859965 0.01758376]
 [0.01360664 0.02159321 0.00660276 0.00361734 0.00848616 1.
  0.00662418 0.01893874 0.03905948 0.04593452 0.03557983 0.00880271
  0.0337269  0.01331367 0.04731979 0.05205978 0.03888295 0.00717488
  0.04472683 0.01193288 0.0346947  0.01217968 0.01291197 0.06420332]
 [0.04388658 0.04925815 0.02712336 0.06855764 0.04312694 0.00662418
  1.         0.0281215  0.0188321  0.01983939 0.09166317 0.03744612
  0.04695206 0.03033939 0.03512557 0.07114936 0.11820708 0.02056265
  0.02013269 0.04063502 0.05016878 0.03433259 0.01708856 0.01615521]
 [0.04368221 0.04233026 0.01846908 0.05871427 0.00999276 0.01893874
  0.0281215  1.         0.04014557 0.06342992 0.0720795  0.07110191
  0.01473806 0.07895177 0.04594223 0.03742792 0.03314912 0.05087955
  0.04541619 0.01964354 0.00879203 0.02004982 0.08801481 0.05165097]
 [0.04626062 0.04201446 0.04824638 0.04691811 0.01625112 0.03905948
  0.0188321  0.04014557 1.         0.10830124 0.04614982 0.03581219
  0.0275641  0.04010709 0.04643417 0.04586615 0.03812886 0.05330034
  0.33015934 0.03182054 0.07558438 0.02697393 0.03079971 0.0448762 ]
 [0.06682276 0.07151607 0.05227415 0.02875776 0.05482424 0.04593452
  0.01983939 0.06342992 0.10830124 1.         0.09278018 0.02636408
  0.01900943 0.02673023 0.03094705 0.03180438 0.05066384 0.01825707
  0.12945635 0.02446779 0.02363419 0.0295258  0.02164973 0.05329948]
 [0.05762734 0.03239615 0.06351489 0.08492946 0.0926675  0.03557983
  0.09166317 0.0720795  0.04614982 0.09278018 1.         0.06432248
  0.02717877 0.04825174 0.05586366 0.07270037 0.10470615 0.05712323
  0.074478   0.0321527  0.14054291 0.06374019 0.02190356 0.04993426]
 [0.08495204 0.07695372 0.04653005 0.10087384 0.03231916 0.00880271
  0.03744612 0.07110191 0.03581219 0.02636408 0.06432248 1.
  0.04376189 0.47075583 0.36715502 0.04598937 0.00445668 0.03872034
  0.04012797 0.06540826 0.05261665 0.04562374 0.05544028 0.02146826]
 [0.05768924 0.04234932 0.04703578 0.07022584 0.0204154  0.0337269
  0.04695206 0.01473806 0.0275641  0.01900943 0.02717877 0.04376189
  1.         0.03909007 0.0452567  0.04770236 0.03679877 0.02640145
  0.06187761 0.04144078 0.04530597 0.08463281 0.02627667 0.01547938]
 [0.04507253 0.10099547 0.03367058 0.07518473 0.02171648 0.01331367
  0.03033939 0.07895177 0.04010709 0.02673023 0.04825174 0.47075583
  0.03909007 1.         0.27471421 0.08620842 0.00421127 0.05265526
  0.04568852 0.07951004 0.03807503 0.03696502 0.0485129  0.02176642]
 [0.05218293 0.07028823 0.0693986  0.09355912 0.05735862 0.04731979
  0.03512557 0.04594223 0.04643417 0.03094705 0.05586366 0.36715502
  0.0452567  0.27471421 1.         0.08394018 0.00487561 0.06096186
  0.07636762 0.04576386 0.07242668 0.06323393 0.02665609 0.02520017]
 [0.07359531 0.24424418 0.02019916 0.0586219  0.07537967 0.05205978
  0.07114936 0.03742792 0.04586615 0.03180438 0.07270037 0.04598937
  0.04770236 0.08620842 0.08394018 1.         0.03925284 0.02886662
  0.07560476 0.13075326 0.04745187 0.05501323 0.06451801 0.0258983 ]
 [0.03329449 0.03257576 0.00836959 0.02545456 0.01075698 0.03888295
  0.11820708 0.03314912 0.03812886 0.05066384 0.10470615 0.00445668
  0.03679877 0.00421127 0.00487561 0.03925284 1.         0.00909481
  0.04258234 0.03233097 0.03790775 0.00929451 0.03498372 0.04125555]
 [0.04573673 0.02178821 0.17668672 0.08877764 0.05196415 0.00717488
  0.02056265 0.05087955 0.05330034 0.01825707 0.05712323 0.03872034
  0.02640145 0.05265526 0.06096186 0.02886662 0.00909481 1.
  0.06225075 0.05800619 0.03945216 0.02930969 0.10865797 0.01486673]
 [0.05297899 0.0803168  0.02701489 0.05817264 0.01561341 0.04472683
  0.02013269 0.04541619 0.33015934 0.12945635 0.074478   0.04012797
  0.06187761 0.04568852 0.07636762 0.07560476 0.04258234 0.06225075
  1.         0.06746551 0.08972434 0.08170654 0.03403291 0.05171295]
 [0.06309684 0.2269185  0.05140058 0.05034815 0.07447802 0.01193288
  0.04063502 0.01964354 0.03182054 0.02446779 0.0321527  0.06540826
  0.04144078 0.07951004 0.04576386 0.13075326 0.03233097 0.05800619
  0.06746551 1.         0.05015339 0.03437395 0.03108917 0.01992411]
 [0.06815601 0.09775233 0.06359654 0.0931354  0.03530001 0.0346947
  0.05016878 0.00879203 0.07558438 0.02363419 0.14054291 0.05261665
  0.04530597 0.03807503 0.07242668 0.04745187 0.03790775 0.03945216
  0.08972434 0.05015339 1.         0.04179895 0.03076511 0.01924531]
 [0.03919541 0.07271017 0.03696373 0.08735907 0.03466631 0.01217968
  0.03433259 0.02004982 0.02697393 0.0295258  0.06374019 0.04562374
  0.08463281 0.03696502 0.06323393 0.05501323 0.00929451 0.02930969
  0.08170654 0.03437395 0.04179895 1.         0.02543191 0.02404285]
 [0.04686846 0.03197534 0.01800231 0.05224622 0.01859965 0.01291197
  0.01708856 0.08801481 0.03079971 0.02164973 0.02190356 0.05544028
  0.02627667 0.0485129  0.02665609 0.06451801 0.03498372 0.10865797
  0.03403291 0.03108917 0.03076511 0.02543191 1.         0.04770621]
 [0.02271877 0.0302289  0.01701905 0.02341743 0.01758376 0.06420332
  0.01615521 0.05165097 0.0448762  0.05329948 0.04993426 0.02146826
  0.01547938 0.02176642 0.02520017 0.0258983  0.04125555 0.01486673
  0.05171295 0.01992411 0.01924531 0.02404285 0.04770621 1.        ]]

In [47]:
# movie recommendation
index = pd.Series(df1['Title'])
index

0                                          Avatar
1        Pirates of the Caribbean: At World's End
2                                         Spectre
3                           The Dark Knight Rises
4                                 The Lone Ranger
5                                     John Carter
6                                         Tangled
7                                    Spider-Man 3
8                         Avengers: Age of Ultron
9                      Captain America: Civil War
10             Batman v Superman: Dawn of Justice
11              The Hobbit: An Unexpected Journey
12         Harry Potter and the Half-Blood Prince
13            The Hobbit: The Desolation of Smaug
14      The Hobbit: The Battle of the Five Armies
15    Pirates of the Caribbean: On Stranger Tides
16                               Superman Returns
17                              Quantum of Solace
18                                   The Avengers
19     Pirates of the Caribbean: Dead Man's Chest
20                                   Man of Steel
21       The Chronicles of Narnia: Prince Caspian
22                         The Amazing Spider-Man
23                                 Jurassic World
Name: Title, dtype: object

In [50]:
def recommand_movies(title):
    movies= []
    idx = index[index == title].index[0]
    print(idx)
    score = pd.Series(cosine_sim[idx]).sort_values(ascending=False)
    top10 = list(score.iloc[1:11].index)
    print(top10)
    for i in top10:
        movies.append(df['Title'][i])
    return movies

In [51]:
recommand_movies('Spider-Man 3')

7
[22, 13, 10, 11, 9, 3, 23, 17, 14, 18]

['The Amazing Spider-Man',
 'The Hobbit: The Desolation of Smaug',
 'Batman v Superman: Dawn of Justice',
 'The Hobbit: An Unexpected Journey',
 'Captain America: Civil War',
 'The Dark Knight Rises',
 'Jurassic World',
 'Quantum of Solace',
 'The Hobbit: The Battle of the Five Armies',
 'The Avengers']